<!--<template lang="pug">
	.logo
		a.nav-item(href="#")
			span
				strong VEM
				| App
</template>-->
<template >
	<div class="logo">
		<a class="nav-item" href="#">
			<span>
				<strong>MANTIS</strong>
			</span>
		</a>
	</div>
</template>
<script>

	export default {

	};

</script>

<style lang="scss">
</style>
