<!--<template lang="pug">
	.search-box
		i.fa.fa-search
		input(type="search", v-model="text", :placeholder="_('Search3dots')")

</template>-->
<template>
<!-- 	<div class="search-box">
		<i class="fa fa-search"></i>
		<input type="search" v-model="text" :placeholder="_('Search3dots')"/>
	</div> -->
	<form style="z-index: 1; display: inline; float: left;">
	     <div class="form-group" style="width: 100%; position: relative; margin: 0px;">
	        <i class="fa fa-search search-icon" aria-hidden="true" style="vertical-align: middle;"></i>
	        <input v-model="text" :placeholder="'Tìm kiếm...'" class="search-post-input form-control">
	     </div>
	  </form>
</template>
<script>
	import { mapGetters, mapActions } from "vuex";

	export default {
		computed: {
			...mapGetters("session", [
				"searchText"
			]),
			text: {
				get() {
					return this.searchText;
				},

				set(value) {
					this.searching(value);
				}
			}
		},

		methods: {
			...mapActions("session", [
				"searching"
			])
		}
	};

</script>

<style lang="scss" scoped>
.search-icon {
    position: absolute;
    color: #aaa;
    top: 11px;
    left: 16px;
    font-size: 14px !important;
}

.search-post-input {
    text-indent: 23px;
    margin: 0 5px;
    top: 3px;
    width: calc(260px - 150px) !important;
    -webkit-transition: all .2s ease-out !important;
    -webkit-transition: all .2s ease-out !important;
    transition: all .2s ease-out !important;

    &:focus {
	    width: calc(260px - 10px) !important;
	}
}

.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #536570;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d4dbe0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
</style>
