<template>
	<div class="container-fluid">
		<div v-if="isSynchonizing" class="lmask"></div>
		<div>
			<div
				class="panel panel-info"
				style="
					width: 80%;
					max-width: 900px;
					text-align: center;
					margin: 40px auto;
					height: calc(100vh - 160px);
				"
			>
				<div class="panel-body">
					<div
						class="list justify-content-start"
						style="
							overflow-y: auto;
							height: calc(100vh - 320px);
							padding-top: 0px;
						"
					>
						<div class="row w-100 m-0">
							<div
								class="list-item col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xs-12"
								v-for="post of pages"
								:key="post.id"
							>
								<router-link
									:to="'/chat/' + (post.fb_id || post.id)"
									style="cursor: pointer"
								>
									<div class="item row w-100 m-0">
										<div class="media-left">
											<div
												class="LazyLoad is-visible"
												style="
													height: 64px;
													width: 64px;
												"
											>
												<img
													width="64"
													height="64"
													class="rounded"
													:src="
														'https://graph.facebook.com/' +
														(post.fb_id
															? post.fb_id
															: post.id) +
														'/picture?width=48&height=48'
													"
												/>
											</div>
										</div>
										<div class="media-body">
											<div
												class="content"
												style="
													font-weight: 500;
													font-size: 16px;
												"
											>
												{{ post.name }}
											</div>
											<span style="font-size: 12px">
												<i
													class="fa fa-facebook"
													aria-hidden="true"
													style="
														vertical-align: middle;
														color: rgb(59, 89, 152);
													"
												></i>
												/{{
													post.fb_id
														? post.fb_id
														: post.id
												}}
											</span>
										</div>
									</div>
								</router-link>
							</div>
						</div>
					</div>
					<hr />
					<div
						style="
							color: rgb(119, 119, 119);
							font-weight: 400;
							min-height: 120px;
						"
					>
						Click vào
						<span class="message-recipient pr-2" @click="showPopup"
							>Kích hoạt</span
						>
						để xem danh sách và kích hoạt trang mới
						<div
							style="
								display: flex;
								justify-content: center;
								margin-top: 8px;
							"
						>
							<div
								class="other_platform_conect"
								v-if="haveConnect"
							>
								<div>
									<button
										type="button"
										class="btn btn-primary"
										style="
											height: 40px;
											width: 160px;
											line-height: 20px;
											margin-top: 2px;
										"
									>
										Kết nối
										<svg
											fill="currentColor"
											preserveAspectRatio="xMidYMid meet"
											height="1em"
											width="1em"
											viewBox="0 0 40 40"
											style="vertical-align: middle"
										>
											<g>
												<path
													d="m20 18.4h6.6v10h-6.6v-10z m-10-6.8h8.4v8.4h-8.4v-8.4z m10 0h6.6v5h-6.6v-5z m-10 10h8.4v6.8h-8.4v-6.8z m20 10v-23.2h-23.4v23.2h23.4z m6.6-16.6h-3.2v3.4h3.2v3.2h-3.2v3.4h3.2v3.4h-3.2v3.2c0 1.8-1.6 3.4-3.4 3.4h-23.4c-1.8 0-3.2-1.6-3.2-3.4v-23.2c0-1.8 1.4-3.4 3.2-3.4h23.4c1.8 0 3.4 1.6 3.4 3.4v3.2h3.2v3.4z"
												></path>
											</g>
										</svg>
									</button>
								</div>
							</div>
							<div
								style="
									background-color: rgb(80, 109, 173);
									color: rgb(255, 255, 255);
									height: 40px;
									width: 180px;
									margin: 2px;
									border-radius: 3px;
									line-height: 40px;
									font-size: 18px;
									font-weight: 400;
									text-align: center;
									cursor: pointer;
								"
								@click="showPopup"
							>
								Kích hoạt
							</div>
							<div
								v-if="
									pages && pages.length > 1 && haveMergePage
								"
								@click="showPopupCombine"
							>
								<div
									style="
										border-radius: 4px;
										border: 1px solid rgb(200, 200, 200);
										cursor: pointer;
										padding: 8px 10px;
										margin: 2px;
									"
								>
									<div>
										<svg
											fill="currentColor"
											preserveAspectRatio="xMidYMid meet"
											height="20px"
											width="20px"
											viewBox="0 0 40 40"
											style="vertical-align: middle"
										>
											<g>
												<path
													d="m39.8 10.1h-2.5v19.8h2.5v7.5h-7.5v-2.5h-24.8v2.5h-7.5v-7.5h2.5v-19.8h-2.5v-7.5h7.5v2.5h24.8v-2.5h7.5v7.5z m-5-5v2.5h2.5v-2.5h-2.5z m-32.3 0v2.5h2.5v-2.5h-2.5z m2.5 29.8v-2.5h-2.5v2.5h2.5z m27.3-2.5v-2.5h2.5v-19.8h-2.5v-2.5h-24.8v2.5h-2.5v19.8h2.5v2.5h24.8z m5 2.5v-2.5h-2.5v2.5h2.5z m-12.5-19.9h7.5v14.9h-17.4v-4.9h-7.4v-14.9h17.3v4.9z m-14.9 7.5h12.5v-10h-12.5v10z m19.9 5v-10h-5v7.5h-7.4v2.5h12.4z"
												></path>
											</g>
										</svg>
										<b> Chế độ gộp trang </b>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div style="text-align: center; font-size: 15px; margin-top: -35px;"><a style="color: rgb(119, 119, 119);"><span>{{_('Privacy')}}</span></a></div> -->
		</div>
		<b-modal
			size="lg"
			ref="activePage"
			centered
			class="text-center"
			:ok-only="true"
			title="Chọn trang để kích hoạt"
			:no-close-on-backdrop="false"
			ok-title="Kích hoạt"
			@ok="activePage"
			@hide="selectPage(undefined)"
		>
			<div
				class="inactivated-list modal-body"
				style="text-align: center; max-height: 480px; overflow-y: auto"
			>
				<div
					v-b-tooltip.hover.right
					:title="page.name"
					style="
						display: inline-block;
						border: 2px solid rgb(238, 238, 238);
						margin: 5px;
						border-radius: 7px;
						cursor: pointer;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						width: 129px;
					"
					v-for="page of fb_pages"
					:key="page.id"
					v-if="fb_pages && fb_pages.length > 0"
				>
					<span @click="selectPage(page)">
						<div
							class="LazyLoad is-visible"
							style="height: 125px; width: 125px"
						>
							<img
								:src="
									'https://graph.facebook.com/' +
									page.id +
									'/picture?width=250&height=250'
								"
								style="border-radius: 5px"
								width="125"
								height="125"
								:class="
									fb_page_to_active &&
									fb_page_to_active.id == page.id
										? 'border-warning'
										: ''
								"
								class="img-thumbnail"
							/>
						</div>
						<span class="pl-1 pr-1">{{ page.name }}</span>
					</span>
				</div>
				<div
					class="no-data-placeholder"
					v-if="!fb_pages || (fb_pages && fb_pages.length === 0)"
				>
					Chọn trang để kích hoạt
				</div>
			</div>
			<div slot="modal-footer" class="w-100">
				<p class="float-left">
					<span v-if="!fb_page_to_active"> Vui lòng chọn trang</span>
					<span v-else>
						Vui lòng xác nhận kích hoạt trang
						<span
							class="message-recipient"
							style="cursor: pointer"
							>{{ fb_page_to_active.name }}</span
						></span
					>
				</p>
				<b-btn
					size="sm"
					class="float-right"
					variant="primary"
					@click="activePage"
				>
					Kích hoạt
				</b-btn>
			</div>
		</b-modal>

		<b-modal
			size="lg"
			ref="combinemode"
			centered
			class="text-center"
			:ok-only="true"
			:title="'Các trang sẽ gộp'"
			:no-close-on-backdrop="false"
			:ok-title="'Vào chế độ gộp trang'"
			@ok="combinePage"
			@hide="combinePage(undefined)"
		>
			<div
				class="inactivated-list modal-body"
				style="text-align: center; max-height: 480px; overflow-y: auto"
			>
				<div
					style="
						display: inline-block;
						border: 2px solid rgb(238, 238, 238);
						margin: 5px;
						border-radius: 7px;
						cursor: pointer;
						position: relative;
					"
					v-for="page of pages"
					:key="page.id"
					v-if="pages && pages.length > 0"
				>
					<i
						class="fa fa-check-circle-o"
						aria-hidden="true"
						style="
							color: #44a762;
							position: absolute;
							top: -7px;
							right: -7px;
							font-size: 20px;
							background-color: #f6ffed;
							border-radius: 10px;
						"
						v-if="combineCache.indexOf(page.fb_id) != -1"
					></i>
					<div
						v-b-tooltip.hover.right
						:title="page.name"
						@click="combinePage(page)"
						style="
							white-space: nowrap;
							text-overflow: ellipsis;
							width: 125px;
							overflow: hidden;
						"
					>
						<div
							class="LazyLoad is-visible"
							style="height: 125px; width: 125px"
						>
							<img
								:src="
									'https://graph.facebook.com/' +
									page.fb_id +
									'/picture?width=250&height=250'
								"
								style="border-radius: 5px; border-width: 2px"
								width="125"
								height="125"
								:class="
									combineCache.indexOf(page.fb_id) != -1
										? 'border-success'
										: ''
								"
								class="img-thumbnail"
							/>
						</div>
						<span class="pl-1 pr-1">{{ page.name }}</span>
					</div>
				</div>
			</div>
			<div slot="modal-footer" class="w-100">
				<p class="float-left">
					<span
						v-if="arrCombinePage.length > 0"
						v-b-tooltip.hover.html="popoverMethod"
					>
						<span class="combine-badge">
							<sup
								class="combine-scroll-number combine-badge-count"
								:title="arrCombinePage.length"
							>
								<span class="combine-scroll-number-only">
									{{ arrCombinePage.length }}
								</span>
							</sup>
						</span>
						Trang đã chọn
					</span>
				</p>
				<router-link
					:to="'/chat/' + combineString"
					style="cursor: pointer"
				>
					<b-btn
						size="sm"
						class="float-right"
						:variant="arrCombinePage.length < 2 ? '' : 'primary'"
						:disabled="arrCombinePage.length < 2"
					>
						Vào chế độ gộp trang
					</b-btn>
				</router-link>
			</div>
		</b-modal>
	</div>
</template>
<script>
import Vue from "vue";
import marked from "marked";
import toast from "../../core/toastr";
import { validators, schema as schemaUtils } from "vue-form-generator";
import { mapGetters, mapActions } from "vuex";
import {
	camelCase,
	each,
	isObject,
	isArray,
	isFunction,
	isNil,
	isString,
	defaults,
	orderBy,
	includes,
	get,
	cloneDeep,
	filter,
	map,
	intersectionBy,
	intersectionWith,
	isEqual,
} from "lodash";
function searchInObject(obj, text) {
	text = text.toLowerCase();
	let values = Object.values(obj);
	let res = values.filter((val) => {
		if (isObject(val)) {
			return searchInObject(val, text);
		} else if (isArray(val)) {
			return val.filter((item) => searchInObject(item, text));
		} else if (isString(val)) {
			return val.toLowerCase().indexOf(text) != -1;
		}
	});
	return res.length > 0;
}
export default {
	computed: {
		...mapGetters("session", {
			search: "searchText",
		}),
		filteredOrderedRows() {
			let items = this.pages;
			if (this.search) {
				let search = this.search.toLowerCase();
				items = this.pages.filter(function (row) {
					return searchInObject(row, search);
				});
			}
			return items;
		},
		...mapGetters("pages", [
			"pages",
			"paging",
			"hasMore",
			"fetching",
			"sort",
			"viewMode",
		]),
		...mapGetters("session", ["me"]),
		...mapGetters("profile", ["profile"]),
		fb_live_pageIds() {
			return map(this.fb_live_pages, (p) => p.id);
		},
	},

	/**
	 * Set page schema as data property
	 */
	data() {
		return {
			fb_pages: [],
			fb_live_pages: [],
			fb_page_to_active: undefined,
			isSynchonizing: false,
			haveConnect: false,
			haveMergePage: true,
			loading: { success: 0 },
			arrCombinePage: [],
			combineString: "",
			combineCache: [],
			combineCacheColor: {},
			colors: [
				"#00ffff",
				"#000000",
				"#0000ff",
				"#a52a2a",
				"#00008b",
				"#008b8b",
				"#a9a9a9",
				"#006400",
				"#8b008b",
				"#556b2f",
				"#ff8c00",
				"#9932cc",
				"#8b0000",
				"#e9967a",
				"#9400d3",
				"#ff00ff",
				"#ffd700",
				"#008000",
				"#4b0082",
				"#add8e6",
				"#90ee90",
				"#ffb6c1",
				"#ffffe0",
				"#00ff00",
				"#ff00ff",
				"#000080",
				"#808000",
				"#ffa500",
				"#ffc0cb",
				"#800080",
				"#800080",
				"#ff0000",
				"#c0c0c0",
				"#ffffff",
				"#f5f5dc",
			],
			usedColor: [],
		};
	},

	methods: {
		...mapActions("pages", [
			"fb",
			"query",
			"fbPages",
			"getConversations",
			"getPageById",
			"syncPageData",
			"getRows",
			"activePageById",
		]),

		...mapActions("profile", ["getProfile"]),
		loadPages(more) {
			this.fb_pages.splice(0);
			let conditions =
				"id,name,picture,accounts.limit(100){tasks,id,name,link,picture, about, can_post, is_owned,country_page_likes,display_subtext,emails,general_info,global_brand_page_name}";
			//if(more &&this.paging.cursors && this.paging.cursors.after) conditions = "id,name,picture,accounts.limit(25).after("+this.paging.cusors.after+"){id,name,link,picture, about, can_post, is_owned,country_page_likes,display_subtext,emails,general_info,global_brand_page_name}";
			let cModel = ["/me", "GET", { fields: conditions }];
			return this.fbPages({
				fbModel: cModel,
				loadMore: more,
				isSynchonize: false,
			});
		},

		synchonizeDb(more, pageId) {
			return this.syncPageData({ pageId: pageId });
		},

		showPopup() {
			this.loadPages()
				.then((pages) => {
					console.log(pages);
					if (pages && pages.data) {
						//this.fb_pages=pages.data;
						this.fb_live_pages = pages.data;
						this.getRows({
							loadMore: false,
							fbPages: this.fb_live_pageIds,
						});
						this.fb_pages = filter(this.fb_live_pages, (fp) => {
							return (
								map(this.pages, (p) => p.fb_id).indexOf(
									fp.id
								) == -1
							);
						});
						this.$refs.activePage.show();
					}
				})
				.catch((err) => {
					toast.error(err);
				});
		},
		getRandomColor() {
			var letters = "0123456789ABCDEF";
			var color = "#";
			for (var i = 0; i < 6; i++) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			if (this.colors.indexOf(color) > -1) {
				return this.getRandomColor();
			} else {
				return color;
			}
		},
		showPopupCombine() {
			this.combineCache = localStorage.getItem("combineCache")
				? localStorage.getItem("combineCache").split("&")
				: [];
			this.usedColor = _.cloneDeep(this.colors);
			this.combineCacheColor = localStorage.getItem("combineCacheColor")
				? JSON.parse(localStorage.getItem("combineCacheColor"))
				: {};
			this.arrCombinePage = [];
			this.combineCache.forEach((item) => {
				var ar = this.pages.find((f) => f.fb_id == item);
				if (ar) {
					this.arrCombinePage.push(ar);
					if (!this.combineCacheColor[item]) {
						this.combineCacheColor[item] = this.usedColor[
							Math.floor(Math.random() * this.usedColor.length)
						];
					}
					this.usedColor.splice(
						this.usedColor.indexOf(this.combineCacheColor[item]),
						1
					);
				}
			});
			this.combineString = localStorage.getItem("combineCache");
			this.$refs.combinemode.show();
		},
		combinePage(page) {
			if (page && this.combineCache.indexOf(page.fb_id) == -1) {
				this.arrCombinePage.push(page);
				this.combineCache.push(page.fb_id);
				if (this.usedColor.length > 0) {
					var random = Math.floor(
						Math.random() * this.usedColor.length
					);
					this.combineCacheColor[page.fb_id] = this.usedColor[random];
					this.usedColor.splice(random, 1);
				} else {
					this.combineCacheColor[page.fb_id] = this.getRandomColor();
				}
			} else if (page) {
				var index = this.combineCache.indexOf(page.fb_id);
				if (index > -1) {
					this.arrCombinePage.splice(index, 1);
					this.combineCache.splice(index, 1);
					delete this.combineCacheColor[page.fb_id];
				}
			}
			this.combineString = this.arrCombinePage
				.map((item) => item.fb_id)
				.join("&");
			localStorage.setItem("combineCache", this.combineString);
			localStorage.setItem(
				"combineCacheColor",
				JSON.stringify(this.combineCacheColor)
			);
		},
		popoverMethod() {
			// Returns the content as a string
			// Will be called each time the popover is opened
			var html = "<ul class='padding:7px'>";
			this.arrCombinePage.forEach((item) => {
				html += "<li style='line-height:30px; text-align: left'>";
				html +=
					'<img src="https://graph.facebook.com/' +
					item.fb_id +
					'/picture?width=15&height=15" style="margin-right:4px;border-radius:5px">';
				html += "<span>" + item.name + "</span>";
				html += "</li>";
			});
			html += "</ul>";
			return html;
		},
		selectPage(page) {
			this.fb_page_to_active = page;
		},
		activePage() {
			if (!this.fb_page_to_active) {
				this.$toasted.show("Vui lòng chọn trang kích hoạt !", {
					type: "error",
				});
				return;
			} else {
				// console.log(this.fb_page_to_active);
				this.isSynchonizing = true;
				this.loading.success = 0;
				this.activePageById({
					pageId: this.fb_page_to_active.id,
					isSynchonize: true,
					isSynchonizePost: true,
					isSynchonizeCon: true,
					limit: 100,
				});
				this.$refs.activePage.hide();
			}
		},
	},

	// socket: {
	// 	prefix: "/facebook/",
	// 	events: {
	// 		synchronizingProcess(res) {
	// 			console.log('synchronizingProcess', res)
	// 			if (['error', 'info'].indexOf(res.type) > -1) {
	// 				toast[res.type](_('Sync'), res.msg);
	// 				this.isSynchonizing = false;
	// 				return
	// 			} else if (res.type == 'progress') {
	// 				// if (res.data.conversations.successCount + res.data.conversations.failureCount == 200) {
	// 				// 	this.getRows({loadMore: false, fbPages: this.fb_live_pageIds});
	// 				// 	this.isSynchonizing = false;
	// 				// }
	// 				console.log('progress', res.data)
	// 			} else if (res.type == 'success') {
	// 				this.loading.success++;
	// 				if(this.loading.success==2){
	// 					this.getRows({loadMore: false, fbPages: this.fb_live_pageIds});
	// 					this.isSynchonizing = false;
	// 				}
	// 			}
	// 		}
	// 	}
	// },

	/**
	 * Call if the component is created
	 */
	mounted() {
		this.loadPages()
			.then((pages) => {
				if (pages && pages.data) {
					this.fb_live_pages = pages.data;
					this.getRows({
						loadMore: false,
						fbPages: this.fb_live_pageIds,
					});
				}
			})
			.catch((err) => {
				toast.error(err);
			});
		this.getProfile();

		this.$hub.$on("synchronizingProcess", (res) => {
			console.log("synchronizingProcess", res);
			if (["error", "info"].indexOf(res.type) > -1) {
				toast[res.type](_("Sync"), res.msg);
				this.isSynchonizing = false;
				return;
			} else if (res.type == "progress") {
				// if (res.data.conversations.successCount + res.data.conversations.failureCount == 200) {
				// 	this.getRows({loadMore: false, fbPages: this.fb_live_pageIds});
				// 	this.isSynchonizing = false;
				// }
				console.log("progress", res.data);
			} else if (res.type == "success") {
				this.loading.success++;
				if (this.loading.success) {
					// why == 2 ?
					this.getRows({
						loadMore: false,
						fbPages: this.fb_live_pageIds,
					});
					this.isSynchonizing = false;
				}
			}
		});
	},
	destroyed() {
		this.$hub.$off("synchronizingProcess");
	},
};
</script>

<style lang="scss" scoped>
.combine-badge {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-variant: tabular-nums;
	list-style: none;
	-webkit-font-feature-settings: "tnum";
	font-feature-settings: "tnum";
	position: relative;
	display: inline-block;
	color: unset;
	line-height: 1;

	.combine-scroll-number {
		position: relative;
		top: auto;
		display: block;
	}

	.combine-badge-count {
		z-index: 10;
		min-width: 20px;
		height: 20px;
		padding: 0 6px;
		color: #fff;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		white-space: nowrap;
		text-align: center;
		background: #f5222d;
		border-radius: 10px;
		-webkit-box-shadow: 0 0 0 1px #fff;
		box-shadow: 0 0 0 1px #fff;

		.combine-scroll-number-only {
			display: inline-block;
			height: 20px;
			-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
	}
}
.no-data-placeholder {
	height: 120px;
	font-size: 16px;
	color: #777;
	text-align: center;
	padding-top: 15px;
	//white-space: pre-wrap;
}
.panel.panel-info {
	margin-left: 100px;
	margin-right: 100px;
	min-width: 280px;
	min-height: 390px;
}

.panel {
	margin-bottom: 22px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-info {
	border-color: #bce8f1;

	.panel-body {
		padding: 15px;

		&:before {
			content: " ";
			display: table;
			box-sizing: border-box;
		}

		.list-item {
			padding-top: 15px;
			color: #3097d2;
			&:hover {
				color: #216a94;
			}
			.item {
				padding: 5px 0px 5px 5px;
				border-radius: 4px;
				border: 1px solid #c8c8c8;

				//white-space: nowrap;
				//overflow: hidden;
				//text-overflow: ellipsis;

				.media-left {
					display: table-cell;
					vertical-align: top;
					padding-right: 10px;
				}

				.media-body {
					display: table-cell;
					vertical-align: top;
					overflow: hidden;
					width: 100%;

					.content {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}
.message-recipient {
	color: #de343b;
	font-weight: 400;
	padding: 2px 8px;
	border: 1px solid rosybrown;
	border-radius: 2px;
	background-color: floralwhite;
	cursor: pointer;
}

.lmask {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
	opacity: 0.4;
	&.fixed {
		position: fixed;
	}
	&:before {
		content: "";
		background-color: rgba(0, 0, 0, 0);
		border: 5px solid rgba(0, 183, 229, 0.9);
		opacity: 0.9;
		border-right: 5px solid rgba(0, 0, 0, 0);
		border-left: 5px solid rgba(0, 0, 0, 0);
		border-radius: 50px;
		box-shadow: 0 0 35px #2187e7;
		width: 50px;
		height: 50px;
		-moz-animation: spinPulse 1s infinite ease-in-out;
		-webkit-animation: spinPulse 1s infinite linear;

		margin: -25px 0 0 -25px;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	&:after {
		content: "";
		background-color: rgba(0, 0, 0, 0);
		border: 5px solid rgba(0, 183, 229, 0.9);
		opacity: 0.9;
		border-left: 5px solid rgba(0, 0, 0, 0);
		border-right: 5px solid rgba(0, 0, 0, 0);
		border-radius: 50px;
		box-shadow: 0 0 15px #2187e7;
		width: 30px;
		height: 30px;
		-moz-animation: spinoffPulse 1s infinite linear;
		-webkit-animation: spinoffPulse 1s infinite linear;

		margin: -15px 0 0 -15px;
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

@-moz-keyframes spinPulse {
	0% {
		-moz-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #2187e7;
	}
	50% {
		-moz-transform: rotate(145deg);
		opacity: 1;
	}
	100% {
		-moz-transform: rotate(-320deg);
		opacity: 0;
	}
}
@-moz-keyframes spinoffPulse {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spinPulse {
	0% {
		-webkit-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #2187e7;
	}
	50% {
		-webkit-transform: rotate(145deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-320deg);
		opacity: 0;
	}
}
@-webkit-keyframes spinoffPulse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
</style>
