<template>
	<div class="page-statistics">
		<div class="container d-flex">
			<b-nav vertical class="navbar d-flex justify-content-start">
				<b-nav-item
					:active="page === 'overview'"
					active-class="active"
					to="overview"
				>
					<i class="fa fa-dashboard" />
					<span class="ml-2">Tổng quan</span>
				</b-nav-item>
				<b-nav-item
					:active="page === 'page'"
					active-class="active"
					to="page"
				>
					<i class="fa fa-flag" />
					<span class="ml-2">Trang</span>
				</b-nav-item>
				<b-nav-item
					:active="page === 'staff'"
					active-class="active"
					to="staff"
				>
					<i class="fa fa-user" />
					<span class="ml-2">Nhân viên</span>
				</b-nav-item>
				<b-nav-item
					:active="page === 'interactive'"
					active-class="active"
					to="interaction"
				>
					<i class="fa fa-retweet" />
					<span class="ml-2">Tương tác</span>
				</b-nav-item>
				<b-nav-item
					:active="page === 'tags'"
					active-class="active"
					to="tags"
				>
					<i class="fa fa-tag" />
					<span class="ml-2">Thẻ hội thoại</span>
				</b-nav-item>
			</b-nav>
			<div class="statistics-content">
				<router-view />
			</div>
		</div>
	</div>
</template>

<script>
import Vue from "vue";
import ElementUI from "element-ui";

Vue.use(ElementUI);

import { mapActions } from 'vuex'

export default {
	data() {
		return {
			page: '',
			pageIds: [],
		}
	},

	created() {
		this.pageIds = this.$route.params.item.split('&')
	},

	methods: {}
}
</script>
<style lang="scss">
.statistics-table {
	// box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
	position: relative;

	.el-table .cell {
		word-break: normal;
	}
}

.card-label-list {
	color: #021351;
	position: relative;

	.label-title {
		font-size: 13px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		padding: 0 20px;
	}

	.label-value {
		font-size: 20px;
		width: 100%;
		text-align: right;
		padding: 0 20px;
	}

	.label-item {
		height: 72px;
		padding: 8px 0px;
		border-left: 10px solid rgb(157, 157, 157);
		background: rgba(216, 216, 216, 0.23);
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		position: relative;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		cursor: pointer;
	}

	.label1 {
		background-color: rgba(196, 255, 248, 0.23);
		border-left-color: rgb(43, 216, 196);
	}

	.label2 {
		background-color: rgba(46, 152, 253, 0.1);
		border-left-color: rgb(46, 152, 253);
	}

	.label3 {
		background-color: rgba(129, 106, 247, 0.11);
		border-left-color: rgba(129, 106, 247, 1);
	}

	.label4 {
		background-color: rgba(255, 78, 3, 0.09);
		border-left-color: rgba(255, 145, 3, 1);
	}
}

.statistics-page {
	.page-title {
		font-weight: bold;
		color: #263c8fed;
		width: 100%;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 12px;
		margin-bottom: 24px;
		h2 {
			color: #263c8fed;
		}
	}

	.gray-text {
		color: #c4c4c4;
	}

	.card {
		border: 1px solid #e0e0e0;
		border-radius: 10px;
		box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
	}

	.card-312 {
		height: 312px;
	}

	.card-150 {
		height: 150px;
	}

	.card-412 {
		height: 412px;
	}

	.chart {
		width: 100%;
		position: relative;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-right: 24px;
	}
}

.page-statistics {
	.navbar {
		width: 200px;
		border-right: 1px solid #e5e5e5;
		min-height: calc(100vh - 56px);

		.nav-item {
			width: 100%;
			color: rgba(0,0,0,.65);

			a {
				color: rgba(0,0,0,.65);
			}
		}

		.nav-item > .active {
			color: #1890ff;
			background-color: #e6f7ff;
			border-right: 3px solid #1890ff;
			a {
				color: #1890ff;
			}
		}
	}

	.statistics-content {
		width: calc(100% - 200px)
	}
}
</style>
