<template>
	<div class="page statistics-page">
		<div class="inner m-3">
			<div class="container-fluild">
				<div class="page-title">
					<h2>Trang</h2>
				</div>
				<div class="page-tools d-flex justify-content-end align-items-center w-100">
					<div class="date-filter">
						<el-date-picker
							v-model="query.dates"
							type="daterange"
							range-separator="-"
							size="mini"
							format="dd-MM-yyyy"
							start-placeholder="Từ ngày"
							end-placeholder="Đến ngày"
							@change="initAll"
						/>
					</div>
					<div class="print-btn pl-2 pr-2">
						<el-button size="mini" circle>
							<i class="fa fa-print" />
						</el-button>
					</div>
					<div class="export-excel-btn">
						<el-button size="mini" circle>
							<i class="fa fa-file-excel-o" />
						</el-button>
					</div>
				</div>

				<div class="message mt-4 card p-2 card-312">
					<div v-if="statisticsLoading" class="d-flex justify-content-center align-items-center h-100 w-100">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div v-else class="chart-main">
						<div class="container-fluild">
							<div class="row">
								<div class="col-12 col-lg-8 mt-2 mb-2">
									<div class="chart-title text-center">
										<h6>Thống kê tin nhắn khách hàng</h6>
									</div>
									<div class="time-chart pt-1">
										<BarChart
											:height="260"
											:chart-data.sync="messageCountChartData"
											:options="{
												responsive: true,
												maintainAspectRatio: false,
												layout: {
													padding: 0
												},
												scales: {
													yAxes: [{
														stacked: true
													}],
													xAxes: [{
														stacked: true,
														gridLines: {
															display: false
														}
													}]
												}
											}"
										/>
									</div>
								</div>
								<div class="col-12 col-lg-4 mt-2 mb-2">
									<div class="time-chart pt-1">
										<PieChart
											:height="240"
											:chart-data.sync="messageCountPieChartData"
											:options="{
												responsive: true,
												maintainAspectRatio: false,
												layout: {
													padding: 0
												}
											}"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="statistic col-12 mt-4 p-0">
					<div v-if="statisticsLoading" class="card d-flex justify-content-center align-items-center">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div v-else class="card">
						<div class="container-fluild">
							<div class="row">
								<div class="col-3">
									<div v-if="pageStatistics !== null" class="card-label-list">
										<div
											class="label-item"
											:class="newDataLabels.label1 ? 'label1' : ''"
											@click="handleClickNewDateLabel('label1')"
										>
											<div class="label-title">SỐ ĐIỆN THOẠI MỚI</div>
											<div class="label-value">{{ statistics.phone }}</div>
										</div>
										<div
											class="label-item"
											:class="newDataLabels.label2 ? 'label2' : ''"
											@click="handleClickNewDateLabel('label2')"
										>
											<div class="label-title">TIN NHẮN MỚI</div>
											<div class="label-value">{{ statistics.conversation }}</div>
										</div>
										<div
											class="label-item"
											:class="newDataLabels.label3 ? 'label3' : ''"
											@click="handleClickNewDateLabel('label3')"
										>
											<div class="label-title">SỐ KHÁCH CŨ TƯƠNG TÁC LẠI</div>
											<div class="label-value">{{ statistics.oldContact }}</div>
										</div>
										<div
											class="label-item"
											:class="newDataLabels.label4 ? 'label4' : ''"
											@click="handleClickNewDateLabel('label4')"
										>
											<div class="label-title">KHÁCH HÀNG MỚI</div>
											<div class="label-value">{{ statistics.contact }}</div>
										</div>
									</div>
								</div>
								<div class="col-9">
									<div class="chart">
										<LineChart
											:height="260"
											:chart-data.sync="statisticsChartData"
											:options="{
												responsive: true,
												maintainAspectRatio: false,
												layout: {
													padding: 0
												},
												legend: {
													display: false
												},
												scales: {
													xAxes: [{
														gridLines: {
															display: false
														}
													}]
												}
											}"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="statistics-detail mt-4">
					<div v-if="statisticsLoading" class="card d-flex justify-content-center align-items-center">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div v-else class="statistics-table card">
						<el-table
							:data="statisticsTable"
							:height="672"
							:max-height="672"
							show-summary
							style="width: 100%; border-radius: 10px"
						>
							<el-table-column
								label="Khoảng thời gian"
								width="160px"
								align="center"
								prop="time"
								fixed
							/>
							<el-table-column
								label="Khách hàng mới"
								width="130px"
								align="center"
								prop="contact"
							/>
							<el-table-column
								label="Số điện thoại mới"
								width="130px"
								align="center"
								prop="phone"
							/>
							<el-table-column
								label="Bình luận từ khách hàng"
								width="130px"
								align="center"
								prop="customerComment"
							/>
							<el-table-column
								label="Tin nhắn từ khách hàng"
								width="130px"
								align="center"
								prop="customerInbox"
							/>
							<el-table-column
								label="Bình luận từ trang"
								width="130px"
								align="center"
								prop="pageComment"
							/>
							<el-table-column
								label="Tin nhắn từ trang"
								width="130px"
								align="center"
								prop="pageInbox"
							/>
							<el-table-column
								label="Tin nhắn mới"
								width="130px"
								align="center"
								prop="conversation"
							/>
							<el-table-column
								label="Số khách cũ nhắn tin tương tác"
								width="130px"
								align="center"
								prop="oldContact"
							/>
						</el-table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import LineChart from "./components/LineChart"
import BarChart from "./components/BarChart"
import PieChart from "./components/PieChart"
import { mapGetters, mapActions } from 'vuex'
import { pageStatistics } from './store/getters'

export default {
	components: {
		LineChart,
		BarChart,
		PieChart
	},
	computed: {
		...mapGetters("statistics", {
			pageStatistics: "pageStatistics"
		}),
		statisticsChartData: function() {
			if (!this.pageStatistics) {
				return {}
			}

			const config = {
				label1: ['phones', 'Số điện thoại mới', "rgba(196, 255, 248, 0.23)", "rgb(43, 216, 196)"],
				label2: ['conversations', 'Số tin nhắn mới', "rgba(46, 152, 253, 0.1)", "rgb(46, 152, 253)"],
				label3: ['oldContacts', 'Số khách hàng cũ tương tác', "rgba(129, 106, 247, 0.11)", "rgba(129, 106, 247, 1)"],
				label4: ['contacts', 'Khách hàng mới', "rgba(255, 78, 3, 0.09)", "rgba(255, 145, 3, 1)"]
			}

			const chartData = {
				labels: this.pageStatistics.labels,
				datasets: []
			}

			Object.keys(this.newDataLabels).forEach(label => {
				if (this.newDataLabels[label]) {
					chartData.datasets.push({
						data: this.pageStatistics[config[label][0]],
						label: config[label][1],
						backgroundColor: config[label][2],
						borderColor: config[label][3]
					})
				}
			});

			return chartData;
		}
	},
	data() {
		return {
			pageIds: null,
			newDataLabels: {
				label1: true,
				label2: true,
				label3: true,
				label4: true
			},
			query: {
				dates: []
			},
			statisticsLoading: false,
			messageCountChartData: null,
			messageCountPieChartData: null,
			statistics: {
				phone: 0,
				conversation: 0,
				oldContact: 0,
				contact: 0
			},
			statisticsTable: []
		}
	},
	watch: {
		$route: {
			handler: function(val) {
				if (val && val.params && val.params.item) {
					const from = moment().subtract(7, 'days').toDate()
					const to = moment().toDate()
					this.query.dates = [from, to]
					this.pageIds = this.$route.params.item.split('&')
					this.initAll(this.pageIds)
				}
			},
			immediate: true,
			deep: true
		}
	},
	created() {
	},
	methods: {
		handleClickNewDateLabel(label) {
			this.newDataLabels[label] = !this.newDataLabels[label]
		},
		initAll() {
			this.initPageStatistics(this.page)
		},
		initPageStatistics(pageIds) {
			this.$set(this, 'statisticsLoading', true)
			this.
				getPageStatisticsByDate({
					pageIds: this.pageIds,
					from: this.query.dates[0],
					to: this.query.dates[1]
				})
				.then(() => {
					this.statisticsLoading = false
					this.setPageStatistics()
				})
		},
		setPageStatistics() {
			// Get overview
			this.statistics = {
				phone: 0,
				conversation: 0,
				oldContact: 0,
				contact: 0
			}

			this.$set(this, 'statisticsTable', [])

			this.pageStatistics.labels.forEach((label, index) => {
				this.statistics.phone += this.pageStatistics.phones[index]
				this.statistics.conversation += this.pageStatistics.conversations[index]
				this.statistics.oldContact += this.pageStatistics.oldContacts[index]
				this.statistics.contact += this.pageStatistics.contacts[index]
				this.statisticsTable.unshift({
					time: label,
					contact: this.pageStatistics.contacts[index],
					phone: this.pageStatistics.phones[index],
					customerComment: this.pageStatistics.customerComments[index],
					pageComment: this.pageStatistics.pageComments[index],
					customerInbox: this.pageStatistics.customerInbox[index],
					pageInbox: this.pageStatistics.pageInbox[index],
					oldContact: this.pageStatistics.oldContacts[index],
					conversation: this.pageStatistics.conversations[index]
				})
			})

			this.$set(this, "messageCountChartData", {
				labels: this.pageStatistics.labels,
				datasets: [
					{
						label: 'Hộp thư',
						backgroundColor: '#2f4b7c',
						data: this.pageStatistics.customerInbox
					},
					{
						label: 'Bình luận',
						backgroundColor: '#ffa600',
						data: this.pageStatistics.customerComments
					}
				]
			})

			let commentCounts = 0
			let inboxCounts = 0
			this.pageStatistics.customerComments.forEach((commentCount, index) => {
				commentCounts += commentCount
				inboxCounts += this.pageStatistics.customerInbox[index]
			})

			this.$set(this, "messageCountPieChartData", {
				labels: ['Hộp thư', 'Bình luận'],
				datasets: [
					{
						data: [inboxCounts, commentCounts],
						backgroundColor: ['#2f4b7c', '#ffa600']
					}
				]
			})
		},
		...mapActions("statistics", {
			getPageStatisticsByDate: "getPageStatisticsByDate"
		})
	}
}
</script>

<style lang="scss">
</style>
