<template>
	<div class="tag statistics-page h-100">
		<div v-if="loading" class="d-flex justify-content-center align-items-center h-100 w-100">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div v-else class="inner m-3">
			<div class="container-fluid">
				<div class="page-title">
					<h2>Thẻ hội thoại</h2>
				</div>
				<div class="page-tools d-flex justify-content-between align-items-center w-100">
					<div class="left-tool">
					</div>
					<div class="right-tool d-flex align-items-center">
						<el-date-picker
							v-model="dates"
							type="daterange"
							range-separator="-"
							size="mini"
							format="dd-MM-yyyy"
							start-placeholder="Từ ngày"
							end-placeholder="Đến ngày"
							clearable="false"
							@change="initAll"
						/>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-5">
						<div class="card-label-list">
							<div
								class="label-item"
								style="
									height: 150px;
									background-color: white;
									border-left-color: rgb(0, 179, 123)
								"
							>
								<div class="icon d-flex justify-content-center align-items-center" style="width: 100px; height: 100px; margin: 12px; background-color: rgb(0, 179, 123); border-radius: 50%;">
									<i class="fa fa-tags" style="color: white; font-size: 60px" />
								</div>
								<div class="content d-flex justify-content-center align-content-center flex-wrap" style="width: calc(100% - 124px)">
									<div class="w-100 text-center" style="font-size: 16px; font-weight: bold;">Số thẻ đang dùng</div>
									<div class="w-100 text-center" style="font-size: 60px; line-height: 60px; margin-top: 16px">{{ tags ? tags.length : 0 }}</div>
								</div>
							</div>
							<div
								class="label-item"
								style="
									margin-top: 12px;
									height: 150px;
									background-color: white;
									border-left-color: rgb(80, 109, 173)
								"
							>
								<div class="icon d-flex justify-content-center align-items-center" style="width: 100px; height: 100px; margin: 12px; background: rgb(80, 109, 173); border-radius: 50%;">
									<i class="fa fa-thumb-tack" style="color: white; font-size: 60px"/>
								</div>
								<div class="content d-flex justify-content-center align-content-center flex-wrap" style="width: calc(100% - 124px)">
									<div class="w-100 text-center" style="font-size: 16px; font-weight: bold;">Số lần gắn thẻ</div>
									<div class="w-100 text-center" style="font-size: 60px; line-height: 60px; margin-top: 16px">{{ tagCount }}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-7">
						<div class="card card-312 p-2">
							<div class="chart-title text-center">
								<h6>Thẻ hội thoại dùng nhiều</h6>
							</div>
							<div class="time-chart pt-1">
								<PieChart
									:height="260"
									:chart-data.sync="tagCountPieChartData"
								/>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-4">
					<el-divider class="w-100" content-position="left">Thống kê chi tiết</el-divider>
					<el-table
						v-if="tagStatistics"
						style="width: 100%"
						:data="tags"
						border
					>
						<el-table-column
							label="Thẻ"
							align="left"
							width="200"
							fixed
						>
							<template slot-scope="scope">
								<div class="w-100 d-flex align-items-center justify-content-center" style="color: white; height: 30px; border-radius: 4px; text-align: center" :style="`background-color: ${scope.row.backgroundcolor}`">
									{{ scope.row.name }}
								</div>
							</template>
						</el-table-column>

						<el-table-column
							v-for="(label, index) in tagStatistics.labels"
							:key="index"
							:label="label"
							width="100"
						>
							<template slot-scope="scope">
								{{ tagStatistics.list[index][scope.$index].count }}
							</template>
						</el-table-column>
					</el-table>
				</div>

				<div class="row mt-4">
					<el-divider class="w-100" content-position="left">Thống kê hôm nay</el-divider>
					<el-table
						v-if="todayTagStatistics"
						style="width: 100%"
						:data="tags"
						border
					>
						<el-table-column
							label="Thẻ"
							align="left"
							width="200"
							fixed
						>
							<template slot-scope="scope">
								<div class="w-100 d-flex align-items-center justify-content-center" style="color: white; height: 30px; border-radius: 4px; text-align: center" :style="`background-color: ${scope.row.backgroundcolor}`">
									{{ scope.row.name }}
								</div>
							</template>
						</el-table-column>

						<el-table-column
							v-for="(label, index) in todayTagStatistics.labels"
							:key="index"
							:label="label"
							width="100"
						>
							<template slot-scope="scope">
								{{ todayTagStatistics.list[index][scope.$index].count }}
							</template>
						</el-table-column>
					</el-table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import moment from 'moment'
import { mapGetters, mapActions } from 'vuex'

import PieChart from "./components/PieChart"

export default {
	components: {
		PieChart
	},

	data() {
		return {
			loading: false,
			dates: [],
			pageIds: [],
			tagCount: 0,
			tagList: {}
		}
	},

	watch: {
		$route: {
			handler: function(val) {
				if (val && val.params && val.params.item) {
					const from = moment().subtract(7, 'days').toDate()
					const to = moment().toDate()
					this.dates = [from, to]
					this.pageIds = this.$route.params.item.split('&')
					this.initAll(this.pageIds)
				}
			},
			immediate: true,
			deep: true
		}
	},

	computed: {
		...mapGetters("statistics", {
			tags: "tags",
			tagStatistics: "tagStatistics",
			todayTagStatistics: "todayTagStatistics"
		}),
		tagCountPieChartData: function() {
			if (!this.tagStatistics) {
				return null
			}

			const dataset = {
				data: [],
				backgroundColor: []
			}

			for (let i = 0; i < this.tags.length; i++) {
				let count = 0
				this.tagStatistics.list.forEach(statistic => {
					count += statistic[i].count
				})
				dataset.data.push(count)
				dataset.backgroundColor.push(this.tags[i].backgroundcolor)
			}

			return {
				labels: this.tags.map(tag => tag.name),
				datasets: [
					dataset
				]
			}
		},
	},

	methods: {
		initAll() {
			if (this.tags && this.tags.length > 0) {
				this.initTagStatistics(this.pageIds)
			} else {
				this.getTags({
					pageIds: this.pageIds
				}).then(() => {
					this.initTagList()
					if (this.tags.length > 0) {
						this.initTodayTagStatistics(this.pageIds)
						this.initTagStatistics(this.pageIds)
					}
				})
			}
		},

		initTodayTagStatistics(pageIds) {
			this.getTodayTagStatistics({
				pageIds,
				from: moment().toDate(),
				to: moment().toDate(),
				tagCodes: this.tags.map(e => e.id),
				unit: 'hour'
			})
		},

		initTagStatistics(pageIds) {
			this.loading = true
			this.getTagStatistics({
				pageIds,
				from: this.dates[0],
				to: this.dates[1],
				tagCodes: this.tags.map(e => e.id),
				unit: 'day'
			}).then(() => {
				this.loading = false
				this.tagCount = 0;
				this.tagStatistics.list.forEach(statistic => {
					statistic.forEach(tag => {
						this.tagCount += tag.count
					})
				})
			})
		},

		initTagList() {
			this.tagList = {}
			this.tags.forEach(tag => {
				this.$set(this.tagList, tag.id, tag)
			})
		},

		...mapActions("statistics", {
			getTags: "getTags",
			getTagStatistics: "getTagStatistics",
			getTodayTagStatistics: "getTodayTagStatistics"
		})
	}
}
</script>
