<!--<template lang="pug">
	ul.dropdown-menu.user-menu(:class="{ 'visible': visible }")
		router-link(tag="li", to="/profile")
			a
				.icon
					i.fa.fa-user
				| {{ "MyAccount" | i18n }}

		router-link(tag="li", to="/settings")
			a
				.icon
					i.fa.fa-cog
				| {{ "Settings" | i18n }}

		li.separator

		li
			a(href='/logout')
				.icon
					i.fa.fa-power-off
				| {{ "Logout" | i18n }}


</template>-->
<template>

	<!-- <ul class="dropdown-menu-base user-menu" :class="{ 'visible': visible }">
		<router-link tag="li" to="/profile">
			<a>
				<div class="icon">
					<i class="fa fa-user"></i>
				</div>{{ "MyAccount" | i18n }}
			</a>
		</router-link>
		<router-link tag="li" to="/settings">
			<a>
				<div class="icon">
					<i class="fa fa-cog"></i>
				</div>{{ "Settings" | i18n }}
			</a>
		</router-link>
		<li class="separator"></li>
		<li>
			<a href="/logout">
				<div class="icon">
					<i class="fa fa-power-off"></i>
				</div>{{ "Logout" | i18n }}
			</a>
		</li>
	</ul> -->
	<div class="dropdown-content user-dropdown" :class="{ 'visible': visible }">
		<template v-if="me">
			<div style="max-height:calc(100vh - 200px);overflow-y:auto;">
				<div class="navbar-item text-nowrap text-truncate w-100 clearfix" @click="goTo('/chat/' + item.fb_id)"
					v-for="item in profile.fb_pages"
					v-if="(curentPage.length == 1 && item.fb_id !== curentPage[0]) || curentPage.length > 1">
					<div style="display:inline-block;width:42px;position:relative">
						<div class="border-combine" v-if="curentPage.length > 1"
							:style="'background-color: ' + combineCacheColor[item.fb_id]"></div>
						<div class="LazyLoad is-visible" style="height:24px;width:24px;">
							<img :src="item.picture ? item.picture.data.url : 'https://graph.facebook.com/' + item.fb_id + '/picture?height=100&width=100'"
								width="24" height="24" style="margin-left: 3px; border-radius: 3px;">
						</div>
					</div>
					<div class="" style="display:inline-block;margin-left:5px;">{{item.name |  truncate(50)}}</div>
				</div>
				<!-- 	       <div class="navbar-item" >
		          <div style="margin:0 12px;" >
		             <div >
		                <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="20px" width="20px" viewBox="0 0 40 40" style="vertical-align:middle;" >
		                   <g >
		                      <path d="m39.8 10.1h-2.5v19.8h2.5v7.5h-7.5v-2.5h-24.8v2.5h-7.5v-7.5h2.5v-19.8h-2.5v-7.5h7.5v2.5h24.8v-2.5h7.5v7.5z m-5-5v2.5h2.5v-2.5h-2.5z m-32.3 0v2.5h2.5v-2.5h-2.5z m2.5 29.8v-2.5h-2.5v2.5h2.5z m27.3-2.5v-2.5h2.5v-19.8h-2.5v-2.5h-24.8v2.5h-2.5v19.8h2.5v2.5h24.8z m5 2.5v-2.5h-2.5v2.5h2.5z m-12.5-19.9h7.5v14.9h-17.4v-4.9h-7.4v-14.9h17.3v4.9z m-14.9 7.5h12.5v-10h-12.5v10z m19.9 5v-10h-5v7.5h-7.4v2.5h12.4z" ></path>
		                   </g>
		                </svg>
		                <span style="margin-left:10px;" >Chế độ gộp trang</span>
		             </div>
		          </div>
		       </div> -->
			</div>
			<hr style="margin:7px auto;">
		</template>
		<div class="navbar-option" @click="goTo('/profile')">
			<div style="display:inline-block;width:42px;">
				<div class="LazyLoad is-visible" style="height:24px;width:24px;">
					<i class="fa fa-user" style="font-size: :24px;margin-left: 3px; border-radius: 3px;"
						aria-hidden="true"></i>
				</div>
			</div>
			<div style="display:inline-block;margin-left:5px;">Tài khoản</div>
		</div>
		<div class="navbar-option" @click="goTo('/logout')">
			<div style="display:inline-block;width:42px;">
				<div class="LazyLoad is-visible" style="height:24px;width:24px;">
					<i class="fa fa-sign-out" style="font-size: :24px;margin-left: 3px; border-radius: 3px;"
						aria-hidden="true"></i>
				</div>
			</div>
			<div style="display:inline-block;margin-left:5px;">Đăng xuất</div>
		</div>
	</div>
</template>
<script>
	import {
		mapActions,
		mapGetters
	} from "vuex";
	export default {
		computed: {
			...mapGetters("session", [
				"me",
				"notifications",
				"messages"
			]),
			...mapGetters("pages", [
				"pages",
				"paging",
				"hasMore",
				"fetching",
				"sort",
				"viewMode"
			]),
			...mapGetters("profile", [
				"profile"
			])
		},
		props: [
			"visible"
		],
		data() {
			return {
				isHome: false,
				curentPage: localStorage.pageId ? localStorage.pageId.split(',') : [],
				combineCacheColor: localStorage.getItem("combineCacheColor") ? JSON.parse(localStorage.getItem(
					"combineCacheColor")) : {}
			}
		},
		methods: {
			goTo(url) {
				if (url !== '/logout') {
					this.$router.push({
						path: url
					})
					if (localStorage.pageId && url != '/profile')
						window.location.reload();
				} else {
					localStorage.removeItem("combineCache");
					localStorage.removeItem("combineCacheColor");
					window.location = url;
				}
			},
			getName(id) {
				// console.log(this.pages)
				var name = undefined;
				this.pages.forEach(page => {
					if (page.id === id) {
						// console.log(page.name)
						name = page.name;
					}
				})
				return name;
			}
		},
		"$route.path"(to, from) {
			if (to != '/') {
				this.isHome = false
			} else {
				this.isHome = true
			}
			this.curentPage = localStorage.pageId ? localStorage.pageId.split(',') : [];

		}

	};

</script>

<style lang="scss">
	.logout {
		color: #777 !important;
	}

	.user-dropdown {
		.border-combine {
			// -webkit-transition-duration: 0.15s;
			// transition-duration: 0.15s;
			position: absolute;
			width: 5px;
			height: 40px;
			top: 0px;
			left: 0px;
		}
	}

</style>
