@import "themes/blurred/variables";
body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
a {
    color: #3097D1;
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: none !important;
}

.sweet-overlay {
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
}

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
  h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
  }
  p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
  }
  fieldset {
    border: none;
    position: relative;
  }
  .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s,max-height 0.15s;
    -webkit-transition: padding 0.15s,max-height 0.15s;
    -webkit-transition: padding 0.15s,max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s;
    &.show {
      padding: 10px 0;
      max-height: 100px;
      webkit-transition: padding 0.2s,max-height 0.2s;
      -webkit-transition: padding 0.25s,max-height 0.25s;
      -webkit-transition: padding 0.25s,max-height 0.25s;
      transition: padding 0.25s, max-height 0.25s;
    }
    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ea7d7d;
      color: white;
      line-height: 24px;
      text-align: center;
      margin-right: 3px;
    }
    p {
      display: inline-block;
    }
  }
  .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    &::before, &::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #f06e57;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -9px;
    }
    &::before {
      -webkit-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &::after {
      -webkit-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &.show {
      opacity: 1;
      -webkit-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:focus {
      outline: none;
      -webkit-box-shadow: 0px 0px 3px #c4e6f5;
      box-shadow: 0px 0px 3px #c4e6f5;
      border: 1px solid #b4dbed;
      &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
        -webkit-transition: opacity 0.3s 0.03s ease;
        -webkit-transition: opacity 0.3s 0.03s ease;
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5;
      }
    }
    &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #bdbdbd;
    }
  }
  &.show-input input {
    display: block;
  }
  .sa-confirm-button-container {
    display: inline-block;
    position: relative;
  }
  .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden;
  }
  button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
    &:focus {
      outline: none;
      -webkit-box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    }
    &:hover {
      background-color: #7ecff4;
    }
    &:active {
      background-color: #5dc2f1;
    }
    &.cancel {
      background-color: #C1C1C1;
      &:hover {
        background-color: #b9b9b9;
      }
      &:active {
        background-color: #a8a8a8;
      }
      &:focus {
        -webkit-box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important;
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important;
      }
    }
    &[disabled] {
      opacity: .6;
      cursor: default;
    }
    &.confirm[disabled] {
      color: transparent;
      ~ .la-ball-fall {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }
  &[data-has-cancel-button=false] button {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  &[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px;
  }
  .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    &.sa-error {
      border-color: #F27474;
      .sa-x-mark {
        position: relative;
        display: block;
      }
      .sa-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px;
        &.sa-left {
          -webkit-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px;
        }
        &.sa-right {
          -webkit-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px;
        }
      }
    }
    &.sa-warning {
      border-color: #F8BB86;
      .sa-body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86;
      }
      .sa-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86;
      }
    }
    &.sa-info {
      border-color: #C9DAE1;
      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #C9DAE1;
      }
      &::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #C9DAE1;
      }
    }
    &.sa-success {
      border-color: #A5DC86;
      &::before, &::after {
        content: '';
        border-radius: 40px;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &::before {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        -webkit-transform-origin: 60px 60px;
        -ms-transform-origin: 60px 60px;
        transform-origin: 60px 60px;
      }
      &::after {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        -webkit-transform-origin: 0px 60px;
        -ms-transform-origin: 0px 60px;
        transform-origin: 0px 60px;
      }
      .sa-placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        border-radius: 40px;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2;
      }
      .sa-fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .sa-line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2;
        &.sa-tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &.sa-long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
    &.sa-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}

.showSweetAlert {
  &[data-animation=pop] {
    -webkit-animation: showSweetAlert 0.3s;
    -webkit-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s;
  }
  &[data-animation=none] {
    -webkit-animation: none;
    -webkit-animation: none;
    animation: none;
  }
  &[data-animation=slide-from-top] {
    -webkit-animation: slideFromTop 0.3s;
    -webkit-animation: slideFromTop 0.3s;
    animation: slideFromTop 0.3s;
  }
  &[data-animation=slide-from-bottom] {
    -webkit-animation: slideFromBottom 0.3s;
    -webkit-animation: slideFromBottom 0.3s;
    animation: slideFromBottom 0.3s;
  }
}

.hideSweetAlert {
  &[data-animation=pop] {
    -webkit-animation: hideSweetAlert 0.2s;
    -webkit-animation: hideSweetAlert 0.2s;
    animation: hideSweetAlert 0.2s;
  }
  &[data-animation=none] {
    -webkit-animation: none;
    -webkit-animation: none;
    animation: none;
  }
  &[data-animation=slide-from-top] {
    -webkit-animation: slideToTop 0.4s;
    -webkit-animation: slideToTop 0.4s;
    animation: slideToTop 0.4s;
  }
  &[data-animation=slide-from-bottom] {
    -webkit-animation: slideToBottom 0.3s;
    -webkit-animation: slideToBottom 0.3s;
    animation: slideToBottom 0.3s;
  }
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s;
}

.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate;
}

.sweet-alert .sa-icon {
  &.sa-error .sa-line {
    &.sa-left {
      -ms-transform: rotate(45deg) \9;
    }
    &.sa-right {
      -ms-transform: rotate(-45deg) \9;
    }
  }
  &.sa-success {
    border-color: transparent\9;
    .sa-line {
      &.sa-tip {
        -ms-transform: rotate(45deg) \9;
      }
      &.sa-long {
        -ms-transform: rotate(-45deg) \9;
      }
    }
  }
}

.la-ball-fall {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  > div {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  display: block;
  font-size: 0;
  color: #fff;
  &.la-dark {
    color: #333;
  }
  > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-fall 1s ease-in-out infinite;
    -webkit-animation: ball-fall 1s ease-in-out infinite;
    animation: ball-fall 1s ease-in-out infinite;
    &:nth-child(1) {
      -webkit-animation-delay: -200ms;
      -webkit-animation-delay: -200ms;
      animation-delay: -200ms;
    }
    &:nth-child(2) {
      -webkit-animation-delay: -100ms;
      -webkit-animation-delay: -100ms;
      animation-delay: -100ms;
    }
    &:nth-child(3) {
      -webkit-animation-delay: 0ms;
      -webkit-animation-delay: 0ms;
      animation-delay: 0ms;
    }
  }
  width: 54px;
  height: 18px;
  &.la-sm {
    width: 26px;
    height: 8px;
    > div {
      width: 4px;
      height: 4px;
      margin: 2px;
    }
  }
  &.la-2x {
    width: 108px;
    height: 36px;
    > div {
      width: 20px;
      height: 20px;
      margin: 8px;
    }
  }
  &.la-3x {
    width: 162px;
    height: 54px;
    > div {
      width: 30px;
      height: 30px;
      margin: 12px;
    }
  }
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Rubik',sans-serif;
  line-height: 30px;
  color: #72808e;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  background: #ffffff;
}

header.solid-bg {
  background: #2E406F;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

nav.navbar.bootsnav {
  &.no-background {
    background-color: transparent;
    border: none;
    -webkit-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #fff;
  border: none;
  border-bottom: solid 1px #e0e0e0;
  z-index: 9;
  &.navbar-fixed {
    display: block;
    width: 100%;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-header {
  float: left;
}

nav.navbar.bootsnav .navbar-brand {
  display: inline-block;
  float: none !important;
  margin: 0 !important;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}

nav.navbar .navbar-brand {
  margin-top: 5px;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar-collapse {
  &.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  border-top: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.navbar-nav {
  margin: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  display: block;
}

.navbar-nav > li {
  float: left;
}

.nav > li {
  position: relative;
  display: block;
}

li {
  list-style: none;
}

nav.navbar {
  &.bootsnav {
    ul.nav > li > a {
      padding: 30px 15px;
      font-weight: 600;
    }
    &.no-background.white ul.nav > li > a {
      color: #fff;
    }
    ul.nav > li > a {
      padding: 30px 15px;
      background-color: translate;
      outline: none;
      color: #6f6f6f;
    }
  }
  ul {
    &.nav > li > a {
      font-weight: 400 !important;
      -webkit-letter-spacing: 1px;
      -moz-letter-spacing: 1px;
      -ms-letter-spacing: 1px;
      letter-spacing: 1px;
      text-transform: uppercase;
      &:hover {
        color: #fff !important;
      }
    }
    li a {
      font-size: 14px;
    }
  }
}

.navbar-nav > li > a {
  line-height: 20px;
}

.nav > li > a {
  position: relative;
  display: block;
  &:hover {
    color: #687fb9 !important;
  }
}

a {
  text-decoration: none;
  outline: none;
}

header.header-wrapper .banner-content {
  padding: 10% 0;
  position: relative;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.rowapp {
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header.header-wrapper .banner-meta {
  text-align: center;
  margin-bottom: 300px;
  h1 {
    color: #fff;
    padding: 10px 0px;
  }
}

h1 {
  font-size: 43px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: 1.1;
}

header.header-wrapper .banner-meta p.lead {
  color: #fff;
  padding: 10px 0px;
}

p.lead {
  font-weight: 500;
  font-size: 15px;
}

.lead {
  margin-bottom: 20px;
  line-height: 1.4;
}

p {
  margin: 0 0 10px;
}

.btn-theme-primary {
  border: 2px solid #00b2e5;
  background-color: #00b2e5;
  padding: 10px 20px;
  color: #fff;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0px !important;
  font-size: 13px;
  -webkit-transition: background-color .5s ease;
  -webkit-transition: background-color .5s ease;
  transition: background-color 0.5s ease;
  &:hover {
    color: #fff !important;
  }
}

header.header-wrapper .banner-image img {
  bottom: 0;
  display: block;
  left: 50%;
  max-width: 100%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#footer {
  &.light-footer .mobile-app-download:before {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .mobile-app-download:before, .footer-bottom:before {
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .mobile-app-download {
    //background-image: url("../static/images/footer-app.jpg");
    position: relative;
  }
}

.paraxify {
  background-size: cover;
}

.ptb-30 {
  padding: 30px 0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-md-4 {
  width: 26.33333%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4, .col-sm-4, .col-md-8, .col-sm-12, .col-xs-12, .col-md-3, .col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}

.center-sm {
  text-align: center;
}

.ptb-40 {
  padding: 40px 0px;
}

.col-md-8 {
  width: 66.66667%;
}

.p-20 {
  padding: 20px;
}

.ptb-20 {
  padding: 20px 0px;
}

#footer {
  .mobile-app-download h4 {
    text-transform: uppercase;
    font-size: 18px;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
  }
  .btn-app-download {
    padding: 20px 10px;
    margin: 0px 10px;
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat',sans-serif;
  color: #333333;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.btn-block {
  display: block;
}

.btn {
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
}

#footer {
  &.light-footer .btn-app-download {
    border: 2px solid #2E406F;
    color: #2E406F;
  }
  .footer-navigation-widget li {
    padding-bottom: 8px;
    a {
      color: #72808e;
      &:hover {
        color: #687fb9 !important;
      }
    }
  }
  .main-footer h3 {
    font-size: 18px;
    text-transform: uppercase;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 30px;
      margin-top: 8px;
      -webkit-transition: width 1s ease,background-color 1s ease;
      -webkit-transition: width 1s ease,background-color 1s ease;
      transition: width 1s ease, background-color 1s ease;
    }
    &:hover:after {
      width: 50px;
    }
  }
  &.light-footer .sub-footer {
    background: #dadada;
  }
  &.dark-footer .sub-footer {
    background: #293440;
  }
  &.light-footer {
    .form-subscribe .form-control {
      background: #cfcfd0;
      border: 1px solid #bfbfc0;
    }
    .mobile-app-download:before {
      background-color: rgba(255, 255, 255, 0.9);
    }
    .main-footer {
      background: #fff;
    }
    .sub-footer {
      background: #dadada;
    }
  }
  .form-subscribe > .input-group {
    width: 100%;
  }
}

.form-inline .input-group .input-group-btn {
  display: inline-table;
  vertical-align: middle;
  width: auto;
}

.input-group {
  position: relative;
  border-collapse: separate;
}

.form-control {
  background: #cfcfd0;
  border: 1px solid #bfbfc0;
}

#footer .form-subscribe .form-control {
  border-radius: 0px;
  color: #646465;
  min-height: 30px;
}

.input-group .form-control .input-group-btn {
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  width: 80%;
  display: table-cell;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

#footer .form-subscribe .btn-suscribe {
  background: #394d83;
  border: 1px solid #394d83;
  color: #fff;
  font-size: 13px;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
  padding: 7px;
  border-radius: 0px;
}

.input-group-btn > .btn {
  position: relative;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-item {
  padding: 30px;
  width: 200px;
  margin-top: 10px;
}

#footer {
  .contact-widget > .contact-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    span {
      margin-right: 5px;
      font-size: 18px;
    }
  }
  .footer-bottom {
    &:before {
      background-color: rgba(1, 1, 1, 0.8);
      content: "";
      display: inline-block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    //background-image: url("../static/images/footer-app.jpg");
    position: relative;
  }
  .paraxify {
    background-position: center center;
    background-size: cover;
  }
}

.flex-container-bottom {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

#footer ul.footer-social {
  display: -webkit-inline-box;
  float: right;
  li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #37495b;
    text-align: center;
    margin-left: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    line-height: 34px;
    color: #fff;
  }
}