<template>
    <div >
    <input 
        class="form-control" 
        type="text" 
        v-model="value" 
        :disabled="disabled"
        :maxlength="schema.max"
        :placeholder="schema.placeholder"
        :readonly="schema.readonly" 
        :validator = "schema.validator"
        >
        <i class="fa fa-plus" v-if="schema.multi" ></i>
    </div>    
</template>

<script>
   import { abstractField } from "vue-form-generator";

   export default {
   	mixins: [ abstractField ],
   	data(){
   		return{
   			fields: [],
   			values:[]
   		};
   	},
   	methods:{
   		formatValueToModel(val){
   			return val;
   		},
   		addField(){
                 //fields.push({});
   			console.log("add more filed");
                 
   		}
   	}
   };
</script>